.five{
    border-radius:50px;
    background-color:#0084ff;
    color:white;
    border:none;
   width:30%;
    cursor:pointer;
    height:40px;
    margin-top:20px;
}
.six{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}